In [1]:
def librerias():
    '''Se se procede a importar los modulos necesarios con sus librerías.'''
import pandas as pd
import numpy as np
print(librerias.__doc__)

Se se procede a importar los modulos necesarios con sus librerías.

In [2]:
def dataset():
    '''Se cargan los datos del dataset.'''
df = pd.read_csv('data_act_01.csv', sep=';')
print(dataset.__doc__)

Se cargan los datos del dataset.

In [3]:
def imprimirhead():
    '''Se presenta las primeras filas del dataset ya que se devuelve las primeras fila'''
print(imprimirhead.__doc__)
df.head()

Se presenta las primeras filas del dataset ya que se devuelve las primeras fila

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [4]:
def imprimirvaloresfaltantes():
    '''Devuelve el número de valores faltantes en el conjunto de datos para eliminar sus errores.'''
print(imprimirvaloresfaltantes.__doc__)
print(df.isnull().sum())

Devuelve el número de valores faltantes en el conjunto de datos para eliminar sus errores.
CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

In [5]:
def EliminacionColumnaNula():
    '''El primero error se ha encontrado imprimiento los valores faltantes y descubrir que range 
    es columna nula por lo que se procede a borrarla.'''
df = df.drop(['Range'], axis=1)
print(EliminacionColumnaNula.__doc__)
df

El primero error se ha encontrado imprimiento los valores faltantes y descubrir que range
    es columna nula por lo que se procede a borrarla.

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

In [6]:
def DatoIncorrectoOffenseDate():
    '''El segundo error es que OffenseDate tiene dato incorrecto por lo que se procede a cambiarla.'''
df['OffenseDate'] = pd.to_datetime(df['OffenseDate']).dt.date
print(DatoIncorrectoOffenseDate.__doc__)
print(df['OffenseDate'])

El segundo error es que OffenseDate tiene dato incorrecto por lo que se procede a cambiarla.
0        2016-03-30
1        2016-03-31
2        2016-03-31
3        2016-03-31
4        2016-03-31
            ...
10046    2016-04-05
10047    2016-04-05
10048    2016-04-05
10049    2016-04-05
10050    2016-04-05
Name: OffenseDate, Length: 10051, dtype: object

In [7]:
def IdSonUnicos():
    '''El tercer error se identifica cuando los Id deben ser unicos en los delitos.'''
df['CrimeId']= df['CrimeId'].astype(int)
print(IdSonUnicos.__doc__)
print(df['CrimeId'])

El tercer error se identifica cuando los Id deben ser unicos en los delitos.
0        160903280
1        160912272
2        160912590
3        160912801
4        160912811
           ...
10046    160964210
10047    160964216
10048    160964227
10049    160964229
10050    160964249
Name: CrimeId, Length: 10051, dtype: int32

In [8]:
def VerificacionDuplicados():
    '''Se procede a verificar los CrimeId que estan duplicados y se puede apreciar que son 4.'''
print(VerificacionDuplicados.__doc__)
df[df.CrimeId.duplicated()]

Se procede a verificar los CrimeId que estan duplicados y se puede apreciar que son 4.

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
1707,160913455,Susp,2016-04-01,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,San Francisco,CA,1,Intersection
3792,160913455,Passing Call,2016-04-02,17:11,2016-04-02T17:11:00,Not recorded,900 Block Of Market St,San Francisco,CA,1,Premise Address
7046,160950496,Suspicious Vehicle,2016-04-04,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,San Francisco,CA,1,Premise Address
7047,160950496,Trespasser,2016-04-04,6:51,2016-04-04T06:51:00,CAN,Block Of Hampshire St,San Francisco,CA,1,Premise Address

In [9]:
'''Se modifica el primer ID.'''
dato = df.loc[:, 'CrimeId'] == 160913455
df_rep = df.loc[dato]
df_rep

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
26,160913455,Vandalism,2016-03-31,20:53,2016-03-31T20:53:00,ND,1600 Block Of Sunnydale Av,San Francisco,CA,1,Premise Address
1707,160913455,Susp,2016-04-01,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,San Francisco,CA,1,Intersection
3792,160913455,Passing Call,2016-04-02,17:11,2016-04-02T17:11:00,Not recorded,900 Block Of Market St,San Francisco,CA,1,Premise Address

In [10]:
'''Se modifica el segundo ID.'''
dato = df.loc[:, 'CrimeId'] == 160950496
df_rep = df.loc[dato]
df_rep

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
7045,160950496,Passing Call,2016-04-04,6:51,2016-04-04T06:51:00,HAN,University St/felton St,San Francisco,CA,1,Intersection
7046,160950496,Suspicious Vehicle,2016-04-04,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,San Francisco,CA,1,Premise Address
7047,160950496,Trespasser,2016-04-04,6:51,2016-04-04T06:51:00,CAN,Block Of Hampshire St,San Francisco,CA,1,Premise Address

In [11]:
'''Se visualiza el máximo valor de los id para asignar nuevos id a los repetidos.'''
df.CrimeId.max()

160964249

In [12]:
'''Se asigna nuevos Id para renombrar los repetidos por nuevos Id.'''
df.loc[1707,'CrimeId']=160964245
df.loc[3792,'CrimeId']=160964246
df.loc[7046,'CrimeId']=160964247
df.loc[7047,'CrimeId']=160964248

In [13]:
def VerificacionDuplicados():
    '''Se procede a verificar los CrimeId que estan duplicados y se puede apreciar que ya no existen 
    duplicados porque se generaron Id nuevos para ese caso.'''
print(VerificacionDuplicados.__doc__)
df[df.CrimeId.duplicated()]

Se procede a verificar los CrimeId que estan duplicados y se puede apreciar que ya no existen
    duplicados porque se generaron Id nuevos para ese caso.

Empty DataFrame
Columns: [CrimeId, OriginalCrimeTypeName, OffenseDate, CallTime, CallDateTime, Disposition, Address, City, State, AgencyId, AddressType]
Index: []

In [14]:
def Borradodatetime():
    '''En el cuarto error se identifica que se debe borrar la que tiene el Calldatetime.'''
df = df.drop('CallDateTime', axis=1)
print(Borradodatetime.__doc__)
df

En el cuarto error se identifica que se debe borrar la que tiene el Calldatetime.

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30,18:42,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31,15:31,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31,16:49,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31,17:38,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31,17:42,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05,23:38,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05,23:43,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05,23:48,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05,23:48,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05,23:54,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

In [15]:
'''En el quinto error se verifica que el 22 hay que reemplazarlo por la moda.'''
df['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'Not recorded',
       'CIT', 'PAS', 'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', '22',
       'CRT', 'SFD'], dtype=object)

In [16]:
'''Se define la moda con el uso del metodo mode()'''
moda = df['Disposition'].mode()

In [17]:
'''Se reemplaza el 22 en la primera posición.'''
df['Disposition'] = df['Disposition'].replace('22',moda[0])
'''Se reemplaza el Not recorded en la primera posición.'''
df['Disposition'] = df['Disposition'].replace('Not recorded',moda[0])

In [18]:
'''Se procede a cambiar por mismas letras y ese nan por la moda.'''
df['Disposition'].unique()

array(['REP', 'GOA', 'ADV', 'HAN', 'ND', 'ARR', 'UTL', 'CIT', 'PAS',
       'ABA', 'NOM', 'ADM', 'CAN', 'INC', 'NCR', 'CRT', 'SFD'],
      dtype=object)

In [19]:
'''En el sexto error se verifica las ciudades y la forma en que estan escritas. Como se puede
observar San Francisco lo escriben de dos maneras direntes al utilizar mayusculas.'''
df['City'].unique()

array(['San Francisco', nan, 'Daly City', 'Treasure Isla', 'Yerba Buena',
       'SAN FRANCISCO', 'Presidio', ' S', 'Brisbane'], dtype=object)

In [20]:
'''En este caso se verifica que la moda es San Francisco ya que es la que mas se repite.'''
df['City'].mode()

0    San Francisco
Name: City, dtype: object

In [21]:
'''Se procede a reemplazar SAN FRANCISCO por San Francisco, tambien en caso que encuentre valores
nulos se reemplaza por San Francisco y otra forma de escribir tambien se reemplaza por San Francisco.'''
df['City'] = df['City'].replace('SAN FRANCISCO','San Francisco')
df['City'] = df['City'].replace(np.nan,'San Francisco')
df['City'] = df['City'].replace(' S','San Francisco')

In [22]:
'''Se verifica que ahora San Francisco es un valor unico con lo que se verifica que se reemplazó
correctamente.'''
df['City'].unique()

array(['San Francisco', 'Daly City', 'Treasure Isla', 'Yerba Buena',
       'Presidio', 'Brisbane'], dtype=object)

In [23]:
'''El septimo error se encontró que hay que cambiar el nan en State.'''
df['State'].unique()

array(['CA', nan], dtype=object)

In [24]:
'''Se realiza el reemplazo de nan por CA.'''
df['State'] = df['State'].replace(np.nan,'CA')

In [25]:
'7 hay que cambiar el nan'
df['State'].unique()

array(['CA'], dtype=object)

In [26]:
df['State'] = df['State'].replace(np.nan,'CA')

In [27]:
'Se verifica que se realizó el reemplazo correctamente en State'
df['State'].unique()

array(['CA'], dtype=object)

In [28]:
'''En el octavo error se procede a reemplazar el 1 por la moda.'''
df['AddressType'].unique()
moda=df['AddressType'].mode()
moda[0]

'Premise Address'

In [29]:
'''Con el uso de replace se verifica que se realiza el reemplazo de 1 por la moda.'''
df['AgencyId'] = df['AgencyId'].replace('CA','1')

In [30]:
'''Se verifica que se realiza el reemplazo correctamente.'''
df['AgencyId'].unique()

array(['1'], dtype=object)

In [31]:
'''Se verifica los valores unicos de AddressType.'''
df['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', 'Intersectioon', '1'], dtype=object)

In [32]:
'''Con el uso del metodo mode() se verifica la moda de AddressType.'''
moda=df['AddressType'].mode()

In [33]:
'''Finalmente se define el reemplazo de 1 por la moda.'''
df['AddressType'] = df['AddressType'].replace('1',moda[0])

In [34]:
'''El noveno error se identifica que se debe remplazar intersectioon por intersection.'''
df['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override', 'Intersectioon'], dtype=object)

In [35]:
'''Se procede a remplazar intersection por intersectioon.'''
df['AddressType'] = df['AddressType'].replace('Intersectioon','Intersection')

In [36]:
'''Se verifica que se ha reemplazado correctamente la corrección de la escritura.'''
df['AddressType'].unique()

array(['Premise Address', 'Intersection', 'Common Location',
       'Geo-Override'], dtype=object)

In [37]:
'''Finalmente se guarda en un archivo json correctamente, su nombre es test.json.'''
df.to_json("test.json", orient = "records")